LICENSE_MODE=offline
POSTGRES_USER=atlas_user
POSTGRES_DB=atlas
POSTGRES_PASSWORD_FILE=
MINIO_ROOT_USER_FILE=
MINIO_ROOT_PASSWORD_FILE=
JWT_SECRET_KEY_FILE=
LICENSE_KEY_FILE=
LICENSE_FILE_PATH=
ALLOWED_ORGANIZATION_ADMINS=orgadmin@example.test
